body {
    background-color: #f4f6f8;
    font-family: Arial;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#result {
    text-align: center;
    margin-top: 15px;
}
